@import '../../mixins.scss';

.checkoutContainer {
    text-align: center;
    margin: 50px 0;

    .formBlock {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 500px;
        text-align: left;

        input {
            padding: 15px 10px;
            background: none;
            border: 2px solid #0F3996;
            border-radius: 10px;
            margin-top: 20px;
        }

        label {
            margin-top: 20px;
        }

        button {
            margin: 15px 0;
            @include button-primary;
        }
    }

    .error {
        color: rgb(179, 98, 98);
        font-weight: 800;
    }

    .addressContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .addressRow {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 424px) {
    .addressRow {
        width: 100%;
    }
}