@import '../../../mixins.scss';

.card {
    max-width: 500px;
    text-align: center;

    .cardPic {
        max-width: 400px;
        max-height: 300px;
        border-radius: 5px;
    }

    .cardInfo {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        align-items: center;
    }

    .description {
        font-size: 15px;
    }

    button {
        @include button-primary;
    }
}