.shopContainer {
    background-color: #F2BA37;
    border-radius: 15px;
    padding: 40px;
    text-align: center;

    .header {
        h1 {
            font-size: 55px;
            font-weight: 400;
        }

        @media screen and (max-width: 750px) {
            h1 {
                font-size: 25px;
                font-weight: 600;
            }
        }
    }
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    margin: 100px 10px;

    @media screen and (max-width: 750px) {
        flex-direction: column;
    }
}

