.shopContainer {
    background-color: #F2BA37;
    border-radius: 15px;
    padding: 45px;
    text-align: center;

    .header {
        h1 {
            font-size: 55px;
            font-weight: 400;
        }

        p {
            font-size: 18px;
        }

        .links {

            button {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 20px;
                margin: 20px 10px 0 10px;
                color:#0F3996;
                font-weight: 800;
                text-decoration: overline wavy;
            }
        }

        @media screen and (max-width: 750px) {

            h1 {
                font-size: 25px;
                font-weight: 600;
            }
        }
    }
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    margin: 100px 10px;

    @media screen and (max-width: 750px) {
        margin: 40px 10px;
        flex-direction: column;
    }
}

