.categoriesContainer {
    max-width: 400px;
    width: 100%;
    margin-top: 30px;

    .header {
        display: flex;
        align-items: center;
        
        span {
            width: 40px;
            height: 2px;
            background: #F2BA37;
        }

        h3 {
            margin: 0 10px;
        }
    }

    .categories {
        margin-top: 30px;

        .categoriesLink{
            text-decoration: none;
            background: #F2BA37;
            color: #0F3996;
            font-weight: 600;
            padding: 5px 10px;
            margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}