@import '../../mixins.scss';

.product {
    margin: 60px 10px;

    .header {
        text-align: center;
        margin: 50px 0;
    }

    img {
        width: 100%;
        max-width: 600px;
    }

    .productContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgContainer {
        margin-right: 50px;
    }

    .infoContainer {
        width: 100%;
        max-width: 600px;
        margin-left: 30px;

        span {
         background-color: #F2BA37;
         border-radius: 5px;
         padding: 5px 10px;
        }
     }

    .cartContainer {
        margin-top: 50px;

        input {
            border: 2px solid #0F3996;
            background-color: transparent;
            width: 40px;
            height: 40px;
            text-align: center;
            padding-left: 15px;
            margin-right: 5px;
        }

        input[type=number] {
            font-size: 18px;
            color: #0F3996;
        }

        button {
            @include button-primary;
        }
    }
}


@media screen and (max-width: 1000px) {
    .infoContainer {
        h1 {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    .productContainer {
        flex-direction: column;

        .infoContainer {
            margin-left: 0;
        }

        .imgContainer {
            margin-right: 0;
        }
    }
}