@import '../../mixins.scss';

.hero {
    background-image: url('../../../public/background-candle.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;

    .text{
        padding: 50px;
        max-width: 500px;

        h1{
            font-size: 55px;
            font-weight: 400;
        }

        p{
            color: #0F3996;
            line-height: 2;
        }

        @media screen and (max-width: 750px) {
            h1 {
                font-size: 25px;
                font-weight: 600;
            }
        }
    }

    button{
        margin: 0 0 30px 45px;
        @include button-primary;
    }

    button:hover {
        color: #F2BA37;
    }
}

.body {
    
    padding: 100px;

    .bodyText {
        max-width: 550px;
        text-align: center;
        margin: auto;

        h1{
            font-size: 55px;
            font-weight: 400;
        }

        p {
            line-height: 2;
        }

        button {
            color: white;
            text-decoration: none;
            margin-top: 40px;
            @include button-primary;
        }

        button:hover {
            color: #F2BA37;
        }
        @media screen and (max-width: 750px) {
            
            h1 {
                font-size: 25px;
                font-weight: 600;
            }
        }
    }

    @media screen and (max-width: 750px) {
        padding: 20px;
    }
}